version: '3.8'

services:
  db:
    image: postgres:15
    container_name: systock_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: systock
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: ..
    container_name: systock_api
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:postgres@db:5432/systock
      API_TITLE: Systock API
      API_VERSION: 1.0.0
      DEBUG: "True"
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app

volumes:
  postgres_data:
